@import "tailwindcss";

:root{
    --base-100: #fff;
    --base-200: #3a3a3a;
    --base-300: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--base-300);
    color: var(--base-100);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-family: "LK_Termina", sans-serif;
    line-height: 1;
}

a, p{
    text-decoration: none;
    color: var(--base-100);
    font-family: 'DM Sans', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1;
}