*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Host Grotesk", sans-serif;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1{
  font-size: 7vw;
  font-weight: 800;
  line-height: 1;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
}


@media(max-width: 1000px){
  h1{
    font-size: 12vw;
    text-align: center;
  }

  p{
    font-size: 1.1rem;
  }
}