@import "tailwindcss";

.content-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.content-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.title-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.title-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.title-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}