*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "DM Sans", sans-serif;
}

body::-webkit-scrollbar{
  display: none !important;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1{
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

p{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}


@media(max-width: 1000px){
  h1{
    font-size: 2.5rem;
  }
}